.addon-container{
    display: flex;
    gap: 1em;
    
}
.addon-card{
    border-radius: 1em;
    padding: 1em;
    background-color: white;
}
.addon-card h4{
    color: #004391;
}
.addon-card button{
    background-color: #004391;
    color: white;
    border-radius: 100em;
    padding-inline: 1em;
}

@media (max-width: 765px) {
    .addon-container{
        flex-direction: column;
        
    }
  }