.banner-bg {

  width: 100%;
  height: 115vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 0;
}




.iframe-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.close-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
}

.open-iframe-button {
  margin: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.theme-btn-1 {
  font-size: 1vw;
}

  
 
  @media (max-width: 765px) {
    .banner-bg{
      height: 30vh;
    }
    .banner-text{
      padding-left: 3em;
    }
    .button {
      font-size: 20px;
    }
  }
  