.banner-bg {

  width: 100%;
  height: 115vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 0;
}

.iframe-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.close-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
}

.open-iframe-button {
  margin: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.theme-btn-1 {
  font-size: 1vw;
}

.banner-textgroup {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1em
}

.banner-textgroup h5{
  font-size: 3em;
}
.banner-textgroup h1{
  font-size: 4em;
}
.text-legal{
  font-size: 2vw

}
.judul-satset{
  object-fit: cover;
  width: 40%;
  height: 100%;
  border-radius: 0.5em;
}
.mobile-banner-a{
  display: none;
}



@media (max-width: 765px) {
  .ltn__slider-11-active{
    display: none;
  }
  .banner-bg {
    height: 30vh;
  }
  .mobile-banner-a{
    display: inline;
    width: 90%;
  }

  .banner-text {
    padding-left: 3em;
  }
  .judul-satset{
    width: 80%;
  }

  .banner-textgroup {
   
    flex-direction: column;
    gap: 0em;
    align-items: center;
  }
  
  .banner-textgroup h5 {
  font-size: 2em;
  }
  .banner-textgroup h1 {
    font-size: 2.5em;
    }
  .text-legal{
    font-size: 4vw;

  }
  .btn-wrapper{
    justify-content: center;
  }

  .tombol {
    font-size: 4vw;
  }

  .segitiga-banner{
    display: flex;
    justify-content: center;
}
}