.gradient-background-review {
    background: linear-gradient(135deg, #d52c50, #ff6e6b);
    display: flex;
    color: white;
    padding: 0.5em;
    border-radius: 5em;
}

.review-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-textcontainer {
    padding: 1em;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.review-cardcontainer {
    display: flex;
    flex-direction: row;

    gap: 1em;
}

.review-card {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: white;
    width: 50%;
    padding: 2em;
}

@media (max-width: 765px) {
    .review-container {
        flex-direction: column;
        width: 100%;
    }

    .review-textcontainer {
       align-items: center;
    }
    .review-cardcontainer {
        align-items: center;
        flex-direction: column;
    }
    .review-card {
        display: flex;
        flex-direction: column;
        border-radius: 1em;
        background-color: white;
        width: 80%;
        padding: 2em;
    }
    
}